:root {
  color: #111827;
  font-family: Inter, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

button,
input,
select {
  font: inherit;
}
